src/main/mule/employee-data.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="employee-data-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="employee-data-config" api="resource::6b9528da-d47a-47d5-ade5-d1d5b7537588:employee-data:3.0.1:raml:zip:employee-data.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="e34b4235-aee4-4e0c-9f33-85d16d2422e5">
        <db:my-sql-connection host="localhost" port="3306" user="root" password="IRONMAN" />
    </db:config>
    <flow name="employee-data-main">
        <http:listener config-ref="employee-data-httpListenerConfig" path="/employees">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employee-data-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="employee-data-console">
        <http:listener doc:name="Listener" doc:id="81d73ddb-5130-4401-9407-9c2fdae31358" config-ref="employee-data-httpListenerConfig" path="/employee/*" />
        <apikit:console config-ref="employee-data-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employees:employee-data-config">
        <http:listener doc:name="Listener" doc:id="26f68bea-baa9-4c1c-9e01-9d8c38e4eae3" config-ref="employee-data-httpListenerConfig" path="/barkam" />
        <ee:transform doc:name="Transform Message" doc:id="138b073a-2741-418e-818c-d8f2c40c701e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map{
	"empID" : $.employe_id,
	"eName" : $.employee_name,
	"eLocation" : $.employee_base_location,
	"eDob"   : $.dob
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <db:bulk-insert doc:name="Bulk insert" doc:id="696faa02-a604-49cc-8176-ca8f32fe1dc7" config-ref="Database_Config">
            <db:sql><![CDATA[INSERT INTO `batch9`.`employee`
(`employe_id`,
`employee_base_location`,
`employee_name`,
`dob`)
VALUES
(:empID,:eLocation,:eName,:eDob)
ON DUPLICATE KEY UPDATE
`employe_id` = :empID, `employee_base_location` = :eLocation, `employee_name` = :eName, `dob` = :eDob;]]></db:sql>
        </db:bulk-insert>
        <ee:transform doc:name="Transform Message" doc:id="520e222c-a4bc-4b26-a3c7-301d98f315d6">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"messege" : "employee records created/updated succesfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\employees\(eid):employee-data-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="eid">attributes.uriParams.'eid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    employe_id: "S100348",
    employee_base_location: " Hyderabad",
    employee_name: " santhosh barkam ",
    dob: "11/11/1997"
  }, 
  {
    employe_id: "S100348",
    employee_base_location: " MADHAPUR",
    employee_name: " VURADI MAHENDER ",
    dob: "11/11/1997"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\employees:application\json:employee-data-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  messege: "employee record is created succesfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\employees\(eid):application\json:employee-data-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="eid">attributes.uriParams.'eid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  messege: "employee record is created succesfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\employees:employee-data-config">
        <db:select doc:name="Select" doc:id="330fcc4d-99b4-4f7d-a4d8-8c56f4398b54" config-ref="Database_Config">
            <db:sql><![CDATA[select * from batch9.employee]]></db:sql>
        </db:select>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
 payload map{
	"empID" : $.employe_id,
    "eLocation" : $.employee_base_location,
	"eName" : $.employee_name,
	"eDOB" : $.dob
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\employees\(eid):employee-data-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="eid">attributes.uriParams.'eid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  employe_id: "X100348",
  employee_base_location: " MADHAPUR",
  employee_name: " VURADI MAHENDER ",
  dob: "11/11/1997"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
